src/workflows/wf0-shared-classifier.json
{
  "name": "WF-0: Shared Classification Sub-Workflow",
  "description": null,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "classify-email-v2",
        "responseMode": "lastNode",
        "authentication": "none"
      },
      "id": "a0000000-0000-4000-8000-000000000001",
      "name": "Webhook: POST /classify-email",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "bd8c0000-1924-42a9-a707-28500b49a33d"
    },
    {
      "parameters": {
        "jsCode": "// Sender Pre-Classifier \u2014 matches from address against known domain rules\nconst from = ($input.first().json.from || '').toLowerCase();\n\n// Domain classification rules (first-match wins)\nconst rules = [\n  {\n    domains: ['linkedin.com','twitter.com','x.com','facebook.com','instagram.com',\n              'reddit.com','github.com','discord.com','meetup.com','slack.com'],\n    category: 'social'\n  },\n  {\n    domains: ['indeed.com','glassdoor.com','levels.fyi','ziprecruiter.com','dice.com',\n              'hired.com','greenhouse.io','lever.co','workday.com','myworkdayjobs.com',\n              'wellfound.com','otta.com'],\n    category: 'career'\n  },\n  {\n    domains: ['amazon.com','apple.com','paypal.com','stripe.com','shopify.com',\n              'ebay.com','bestbuy.com','ups.com','fedex.com','usps.com'],\n    category: 'fyi'\n  },\n  {\n    domains: ['substack.com','beehiiv.com','convertkit.com','mailchimp.com',\n              'klaviyo.com','sendgrid.net','constantcontact.com'],\n    category: 'newsletter'\n  },\n];\n\n// Match sender domain\nfor (const rule of rules) {\n  if (rule.domains.some(d => from.includes(d))) {\n    return [{\n      json: {\n        ...$input.first().json,\n        fast_category: rule.category,\n        skip_ai: true\n      }\n    }];\n  }\n}\n\n// No match \u2014 let AI classify\nreturn [{\n  json: {\n    ...$input.first().json,\n    fast_category: null,\n    skip_ai: false\n  }\n}];"
      },
      "id": "a0000000-0000-4000-8000-000000000002",
      "name": "Sender Pre-Classifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// HTML to Plain Text \u2014 strip HTML tags for the AI classifier\n// DeepSeek only needs the textual content, not markup.\nconst html = $input.first().json.body_html || $input.first().json.body_text || $input.first().json.snippet || '';\n\n// Simple HTML tag stripping (production-grade would use a real parser,\n// but this is sufficient for the classifier's ~300 char preview)\nconst cleaned = html\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\")\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    cleaned_body: cleaned\n  }\n}];"
      },
      "id": "a0000000-0000-4000-8000-000000000005",
      "name": "HTML to Plain Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        500
      ]
    },
    {
      "parameters": {
        "prompt": "={{ \"You are an email classifier. Return valid JSON only. Classify into: newsletter, action, social, promotions, career, fyi, spam. Return {\\\"category\\\": \\\"category_name\\\"}.\\n\\nFrom: \" + ($json.from || \"unknown\") + \"\\nSubject: \" + ($json.subject || \"unknown\") + \"\\nBody: \" + (($json.cleaned_body || $json.body_text || $json.snippet || \"\").slice(0, 300)) }}"
      },
      "id": "a0000000-0000-4000-8000-000000000006",
      "name": "DeepSeek: Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0,
          "maxTokens": 128,
          "topP": 1
        }
      },
      "id": "a0000000-0000-4000-8000-000000000007",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1040,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "18e28f6f-a66c-4861-859a-77b139963c93",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate + normalize DeepSeek category output\n// The LLM Chain returns raw text \u2014 we extract the JSON and validate.\n\nconst validCategories = ['newsletter', 'action', 'social', 'promotions', 'career', 'fyi', 'spam'];\n\nlet rawText = '';\n\n// Try to extract the LLM response from various N8N AI node output shapes\nif ($input.first().json.text) {\n  rawText = $input.first().json.text;\n} else if ($input.first().json.output) {\n  rawText = $input.first().json.output;\n} else if ($input.first().json.response) {\n  rawText = $input.first().json.response;\n} else {\n  // Fallback: stringify entire JSON and try regex extraction\n  rawText = JSON.stringify($input.first().json);\n}\n\n// Attempt JSON parse\nlet category = '';\ntry {\n  // Handle markdown code fences sometimes added by models\n  const clean = rawText\n    .replace(/```json\\s*/gi, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n  const parsed = JSON.parse(clean);\n  category = (parsed.category || '').toString().trim().toLowerCase();\n} catch {\n  // Regex fallback for malformed output\n  const match = rawText.match(/\"category\"\\s*:\\s*\"([^\"]+)\"/i);\n  if (match && match[1]) {\n    category = match[1].trim().toLowerCase();\n  }\n}\n\n// Validate and fall back to 'fyi' if invalid\nconst finalCategory = validCategories.includes(category) ? category : 'fyi';\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    category: finalCategory\n  }\n}];"
      },
      "id": "a0000000-0000-4000-8000-000000000008",
      "name": "Validate Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0000000-0000-4000-8000-000000000002",
              "name": "final_category",
              "value": "={{ $json.fast_category || $json.category || \"fyi\" }}",
              "type": "string"
            },
            {
              "id": "b0000000-0000-4000-8000-000000000003",
              "name": "account_type",
              "value": "={{ $json.account_type }}",
              "type": "string"
            },
            {
              "id": "b0000000-0000-4000-8000-000000000004",
              "name": "message_id",
              "value": "={{ $json.message_id }}",
              "type": "string"
            },
            {
              "id": "b0000000-0000-4000-8000-000000000005",
              "name": "thread_id",
              "value": "={{ $json.thread_id }}",
              "type": "string"
            },
            {
              "id": "b0000000-0000-4000-8000-000000000006",
              "name": "credential_name",
              "value": "={{ $json.credential_name }}",
              "type": "string"
            },
            {
              "id": "b0000000-0000-4000-8000-000000000007",
              "name": "email_address",
              "value": "={{ $json.email_address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a0000000-0000-4000-8000-000000000009",
      "name": "Set: Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1820,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Webhook Response \u2014 return final classification summary\nreturn [{\n  json: {\n    success: true,\n    account_type: $input.first().json.account_type,\n    email_address: $input.first().json.email_address,\n    message_id: $input.first().json.message_id,\n    final_category: $input.first().json.final_category,\n    classified_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "a0000000-0000-4000-8000-000000000014",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3640,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dyn-label-001",
              "name": "label_id",
              "value": "={{ {newsletter: 'Label_2', action: 'Label_1', social: 'Label_3', promotions: 'Label_4', career: 'Label_5', fyi: 'Label_6', spam: 'Label_7'}[$json.final_category] || 'Label_6' }}",
              "type": "string"
            },
            {
              "id": "dyn-label-002",
              "name": "should_archive",
              "value": "={{ $json.final_category === 'promotions' }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set-dynamic-label",
      "name": "Set: Dynamic Label",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2080,
        500
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": {
          "labelId": [
            "={{ $json.label_id }}"
          ]
        }
      },
      "id": "gmail-add-label",
      "name": "Gmail: Add Dynamic Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2340,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "487570f9-1a71-4762-b3ca-c28376825cd4",
          "name": "Gmail - mohamedafsar.arif@gmail.com"
        }
      },
      "webhookId": "07a6c43c-cbe0-435e-9857-27d72c767e4b"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $json.message_id }}"
      },
      "id": "gmail-mark-read",
      "name": "Gmail: Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2600,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "487570f9-1a71-4762-b3ca-c28376825cd4",
          "name": "Gmail - mohamedafsar.arif@gmail.com"
        }
      },
      "webhookId": "4a47c91c-5b34-46dd-a0ef-d3fd572626d3"
    }
  ],
  "connections": {
    "Webhook: POST /classify-email": {
      "main": [
        [
          {
            "node": "Sender Pre-Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Pre-Classifier": {
      "main": [
        [
          {
            "node": "HTML to Plain Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to Plain Text": {
      "main": [
        [
          {
            "node": "DeepSeek: Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek: Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek: Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Validate Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Category": {
      "main": [
        [
          {
            "node": "Set: Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Normalize": {
      "main": [
        [
          {
            "node": "Set: Dynamic Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Dynamic Label": {
      "main": [
        [
          {
            "node": "Gmail: Add Dynamic Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Add Dynamic Label": {
      "main": [
        [
          {
            "node": "Gmail: Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Mark as Read": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "nodeGroups": [],
  "pinData": {},
  "versionCounter": 3,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-06-24T06:18:13.732Z",
    "createdAt": "2026-06-24T06:18:13.732Z",
    "versionId": "0c8a512c-b1ce-4c33-8c35-248380c7106e",
    "workflowId": "Zreh7ckPNiNYpbju",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "classify-email-v2",
          "responseMode": "lastNode",
          "authentication": "none"
        },
        "id": "a0000000-0000-4000-8000-000000000001",
        "name": "Webhook: POST /classify-email",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "webhookId": "bd8c0000-1924-42a9-a707-28500b49a33d"
      },
      {
        "parameters": {
          "jsCode": "// Sender Pre-Classifier \u2014 matches from address against known domain rules\nconst from = ($input.first().json.from || '').toLowerCase();\n\n// Domain classification rules (first-match wins)\nconst rules = [\n  {\n    domains: ['linkedin.com','twitter.com','x.com','facebook.com','instagram.com',\n              'reddit.com','github.com','discord.com','meetup.com','slack.com'],\n    category: 'social'\n  },\n  {\n    domains: ['indeed.com','glassdoor.com','levels.fyi','ziprecruiter.com','dice.com',\n              'hired.com','greenhouse.io','lever.co','workday.com','myworkdayjobs.com',\n              'wellfound.com','otta.com'],\n    category: 'career'\n  },\n  {\n    domains: ['amazon.com','apple.com','paypal.com','stripe.com','shopify.com',\n              'ebay.com','bestbuy.com','ups.com','fedex.com','usps.com'],\n    category: 'fyi'\n  },\n  {\n    domains: ['substack.com','beehiiv.com','convertkit.com','mailchimp.com',\n              'klaviyo.com','sendgrid.net','constantcontact.com'],\n    category: 'newsletter'\n  },\n];\n\n// Match sender domain\nfor (const rule of rules) {\n  if (rule.domains.some(d => from.includes(d))) {\n    return [{\n      json: {\n        ...$input.first().json,\n        fast_category: rule.category,\n        skip_ai: true\n      }\n    }];\n  }\n}\n\n// No match \u2014 let AI classify\nreturn [{\n  json: {\n    ...$input.first().json,\n    fast_category: null,\n    skip_ai: false\n  }\n}];"
        },
        "id": "a0000000-0000-4000-8000-000000000002",
        "name": "Sender Pre-Classifier",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          260,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "// HTML to Plain Text \u2014 strip HTML tags for the AI classifier\n// DeepSeek only needs the textual content, not markup.\nconst html = $input.first().json.body_html || $input.first().json.body_text || $input.first().json.snippet || '';\n\n// Simple HTML tag stripping (production-grade would use a real parser,\n// but this is sufficient for the classifier's ~300 char preview)\nconst cleaned = html\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\")\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    cleaned_body: cleaned\n  }\n}];"
        },
        "id": "a0000000-0000-4000-8000-000000000005",
        "name": "HTML to Plain Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          780,
          500
        ]
      },
      {
        "parameters": {
          "prompt": "={{ \"You are an email classifier. Return valid JSON only. Classify into: newsletter, action, social, promotions, career, fyi, spam. Return {\\\"category\\\": \\\"category_name\\\"}.\\n\\nFrom: \" + ($json.from || \"unknown\") + \"\\nSubject: \" + ($json.subject || \"unknown\") + \"\\nBody: \" + (($json.cleaned_body || $json.body_text || $json.snippet || \"\").slice(0, 300)) }}"
        },
        "id": "a0000000-0000-4000-8000-000000000006",
        "name": "DeepSeek: Basic LLM Chain",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1,
        "position": [
          1300,
          500
        ]
      },
      {
        "parameters": {
          "model": "deepseek-chat",
          "options": {
            "temperature": 0,
            "maxTokens": 128,
            "topP": 1
          }
        },
        "id": "a0000000-0000-4000-8000-000000000007",
        "name": "DeepSeek Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          1040,
          500
        ],
        "credentials": {
          "openAiApi": {
            "id": "18e28f6f-a66c-4861-859a-77b139963c93",
            "name": "DeepSeek API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Validate + normalize DeepSeek category output\n// The LLM Chain returns raw text \u2014 we extract the JSON and validate.\n\nconst validCategories = ['newsletter', 'action', 'social', 'promotions', 'career', 'fyi', 'spam'];\n\nlet rawText = '';\n\n// Try to extract the LLM response from various N8N AI node output shapes\nif ($input.first().json.text) {\n  rawText = $input.first().json.text;\n} else if ($input.first().json.output) {\n  rawText = $input.first().json.output;\n} else if ($input.first().json.response) {\n  rawText = $input.first().json.response;\n} else {\n  // Fallback: stringify entire JSON and try regex extraction\n  rawText = JSON.stringify($input.first().json);\n}\n\n// Attempt JSON parse\nlet category = '';\ntry {\n  // Handle markdown code fences sometimes added by models\n  const clean = rawText\n    .replace(/```json\\s*/gi, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n  const parsed = JSON.parse(clean);\n  category = (parsed.category || '').toString().trim().toLowerCase();\n} catch {\n  // Regex fallback for malformed output\n  const match = rawText.match(/\"category\"\\s*:\\s*\"([^\"]+)\"/i);\n  if (match && match[1]) {\n    category = match[1].trim().toLowerCase();\n  }\n}\n\n// Validate and fall back to 'fyi' if invalid\nconst finalCategory = validCategories.includes(category) ? category : 'fyi';\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    category: finalCategory\n  }\n}];"
        },
        "id": "a0000000-0000-4000-8000-000000000008",
        "name": "Validate Category",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1560,
          500
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b0000000-0000-4000-8000-000000000002",
                "name": "final_category",
                "value": "={{ $json.fast_category || $json.category || \"fyi\" }}",
                "type": "string"
              },
              {
                "id": "b0000000-0000-4000-8000-000000000003",
                "name": "account_type",
                "value": "={{ $json.account_type }}",
                "type": "string"
              },
              {
                "id": "b0000000-0000-4000-8000-000000000004",
                "name": "message_id",
                "value": "={{ $json.message_id }}",
                "type": "string"
              },
              {
                "id": "b0000000-0000-4000-8000-000000000005",
                "name": "thread_id",
                "value": "={{ $json.thread_id }}",
                "type": "string"
              },
              {
                "id": "b0000000-0000-4000-8000-000000000006",
                "name": "credential_name",
                "value": "={{ $json.credential_name }}",
                "type": "string"
              },
              {
                "id": "b0000000-0000-4000-8000-000000000007",
                "name": "email_address",
                "value": "={{ $json.email_address }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "a0000000-0000-4000-8000-000000000009",
        "name": "Set: Normalize",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          1820,
          500
        ]
      },
      {
        "parameters": {
          "jsCode": "// Webhook Response \u2014 return final classification summary\nreturn [{\n  json: {\n    success: true,\n    account_type: $input.first().json.account_type,\n    email_address: $input.first().json.email_address,\n    message_id: $input.first().json.message_id,\n    final_category: $input.first().json.final_category,\n    classified_at: new Date().toISOString()\n  }\n}];"
        },
        "id": "a0000000-0000-4000-8000-000000000014",
        "name": "Webhook Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3640,
          300
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dyn-label-001",
                "name": "label_id",
                "value": "={{ {newsletter: 'Label_2', action: 'Label_1', social: 'Label_3', promotions: 'Label_4', career: 'Label_5', fyi: 'Label_6', spam: 'Label_7'}[$json.final_category] || 'Label_6' }}",
                "type": "string"
              },
              {
                "id": "dyn-label-002",
                "name": "should_archive",
                "value": "={{ $json.final_category === 'promotions' }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "id": "set-dynamic-label",
        "name": "Set: Dynamic Label",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          2080,
          500
        ]
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "addLabels",
          "messageId": "={{ $json.message_id }}",
          "labelIds": {
            "labelId": [
              "={{ $json.label_id }}"
            ]
          }
        },
        "id": "gmail-add-label",
        "name": "Gmail: Add Dynamic Label",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          2340,
          500
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "487570f9-1a71-4762-b3ca-c28376825cd4",
            "name": "Gmail - mohamedafsar.arif@gmail.com"
          }
        },
        "webhookId": "07a6c43c-cbe0-435e-9857-27d72c767e4b"
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "markAsRead",
          "messageId": "={{ $json.message_id }}"
        },
        "id": "gmail-mark-read",
        "name": "Gmail: Mark as Read",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          2600,
          500
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "487570f9-1a71-4762-b3ca-c28376825cd4",
            "name": "Gmail - mohamedafsar.arif@gmail.com"
          }
        },
        "webhookId": "4a47c91c-5b34-46dd-a0ef-d3fd572626d3"
      }
    ],
    "connections": {
      "Webhook: POST /classify-email": {
        "main": [
          [
            {
              "node": "Sender Pre-Classifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sender Pre-Classifier": {
        "main": [
          [
            {
              "node": "HTML to Plain Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML to Plain Text": {
        "main": [
          [
            {
              "node": "DeepSeek: Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "DeepSeek: Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek: Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Validate Category",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Category": {
        "main": [
          [
            {
              "node": "Set: Normalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set: Normalize": {
        "main": [
          [
            {
              "node": "Set: Dynamic Label",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set: Dynamic Label": {
        "main": [
          [
            {
              "node": "Gmail: Add Dynamic Label",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail: Add Dynamic Label": {
        "main": [
          [
            {
              "node": "Gmail: Mark as Read",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail: Mark as Read": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Afsar Arif",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-24T06:18:13.749Z",
        "id": 71,
        "workflowId": "Zreh7ckPNiNYpbju",
        "versionId": "0c8a512c-b1ce-4c33-8c35-248380c7106e",
        "event": "activated",
        "userId": "237e94f6-c334-4919-b098-d884cb1bea04"
      }
    ]
  },
  "checksum": "1e9759422c1d6a23a7b0f6171218118050a5bef72a37c31d955fbd5db497d612",
  "active": false
}