src/workflows/wf1-gmail-trigger-instance-1.json
{
  "name": "WF-1: Gmail Trigger — personal@gmail.com",
  "version": "1.0.0",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "options": {},
        "query": "-label:AI/Newsletter -label:AI/Action-Required -label:AI/Social -label:AI/Promotions -label:AI/Career -label:AI/FYI -label:AI/Spam"
      },
      "id": "gmail-trigger-001",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 2,
      "position": [250, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-personal-cred-id",
          "name": "Gmail - personal@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Dedup Guard: skip if any AI/* label already exists\n// Returns true = not yet labeled → proceed\n// Returns false = already labeled → stop\n\nconst labels = $input.first().json.labelIds || [];\nconst alreadyLabeled = labels.some(l => String(l).startsWith('AI/'));\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    proceed: !alreadyLabeled\n  }\n}];"
      },
      "id": "code-dedup-002",
      "name": "Dedup Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-proceed",
              "leftValue": "={{ $json.proceed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-dedup-003",
      "name": "Proceed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "account_type",
              "value": "gmail"
            },
            {
              "name": "credential_name",
              "value": "Gmail - personal@gmail.com"
            },
            {
              "name": "email_address",
              "value": "personal@gmail.com"
            },
            {
              "name": "message_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "thread_id",
              "value": "={{ $json.threadId }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "from",
              "value": "={{ $json.from.value[0].address }}"
            },
            {
              "name": "body_html",
              "value": "={{ $json.body.html }}"
            },
            {
              "name": "body_text",
              "value": "={{ $json.body.text }}"
            },
            {
              "name": "snippet",
              "value": "={{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-payload-004",
      "name": "Build WF-0 Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/classify-email",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Token",
              "value": "={{ $env.WF0_SECRET_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "string"
            }
          }
        }
      },
      "id": "http-call-wf0-005",
      "name": "Call WF-0 Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Dedup Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Guard": {
      "main": [
        [
          {
            "node": "Proceed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proceed?": {
      "main": [
        [
          {
            "node": "Build WF-0 Payload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build WF-0 Payload": {
      "main": [
        [
          {
            "node": "Call WF-0 Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF-0 Classifier": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "saveManualExecutions": false,
    "timezone": "UTC"
  },
  "staticData": null,
  "active": true,
  "tags": [
    {
      "name": "email",
      "createdAt": "2026-06-22T00:00:00.000Z",
      "updatedAt": "2026-06-22T00:00:00.000Z"
    },
    {
      "name": "gmail",
      "createdAt": "2026-06-22T00:00:00.000Z",
      "updatedAt": "2026-06-22T00:00:00.000Z"
    },
    {
      "name": "trigger",
      "createdAt": "2026-06-22T00:00:00.000Z",
      "updatedAt": "2026-06-22T00:00:00.000Z"
    },
    {
      "name": "production",
      "createdAt": "2026-06-22T00:00:00.000Z",
      "updatedAt": "2026-06-22T00:00:00.000Z"
    }
  ]
}
