src/workflows/wf4-initial-cleanup.json
{
  "name": "WF-4: Initial Cleanup — mohamedafsar.arif@gmail.com",
  "nodes": [
    {
      "id": "node-1",
      "name": "Webhook: Start Cleanup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "start-cleanup",
        "authentication": "none",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "node-2",
      "name": "Gmail: Get Unlabeled Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "getMany",
        "returnAll": true,
        "query": "-label:AI/Newsletter -label:AI/Action-Required -label:AI/Social -label:AI/Promotions -label:AI/Career -label:AI/FYI -label:AI/Spam in:inbox",
        "simple": true,
        "options": {
          "maxResults": 500
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail - mohamedafsar.arif@gmail.com"
        }
      }
    },
    {
      "id": "node-3",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "batchSize": 10
      }
    },
    {
      "id": "node-4",
      "name": "Build WF-0 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "// Build WF-0 Payload — maps a Gmail \"Get Many\" item to the WF-0 webhook shape.\n// Mirrors the mapping in src/code/payload-builder.ts → buildGmailPayload().\n//\n// Gmail Get Many with simple=true returns a flat object:\n//   { id, threadId, subject, from (string), text, html, snippet, ... }\n\nconst first = $input.first();\nif (!first || !first.json) {\n  // No items — Gmail returned zero unlabeled messages, or batch is empty.\n  // Output a single no-op item so the pipeline continues to the Summary node.\n  return [{ json: { _no_emails: true } }];\n}\n\nconst msg = first.json;\n\n// Extract sender address — with simple=true, msg.from is a string\n// like \"Sender Name <email@example.com>\" or just \"email@example.com\"\nlet fromAddress = 'unknown@unknown.com';\nif (typeof msg.from === 'string' && msg.from.length > 0) {\n  fromAddress = msg.from;\n}\n\n// Build the WF-0 payload\nconst payload = {\n  account_type: 'gmail',\n  credential_name: msg._credential_name || ($env.GMAIL_CREDENTIAL_NAMES || '').split(',')[0]?.trim() || '',\n  email_address: msg._email_address || ($env.GMAIL_ACCOUNTS || '').split(',')[0]?.trim() || '',\n  message_id: msg.id || '',\n  thread_id: msg.threadId || msg.id || '',\n  subject: msg.subject || '',\n  from: fromAddress,\n  body_html: msg.html || '',\n  body_text: msg.text || '',\n  snippet: msg.snippet || '',\n};\n\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "node-5",
      "name": "POST to WF-0 Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/classify-email",
        "sendHeaders": true,
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "9cd192bdd0b0608358a6021d4763d6adf7b36acac65136d245c8d8d002379479"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {
            "follow": true
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-6",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "// Build Summary — aggregates all WF-0 classification results into a\n// single CleanupSummary object for the final workflow output.\n\nconst items = $input.all();\nif (!items || items.length === 0) {\n  // No items — nothing was processed\n  return [{\n    json: {\n      account_type: 'gmail',\n      email_address: '',\n      credential_name: '',\n      total_fetched: 0,\n      total_classified: 0,\n      total_errors: 0,\n      categories: {},\n      started_at: new Date().toISOString(),\n      completed_at: new Date().toISOString(),\n    }\n  }];\n}\n\n// Accumulate stats\nconst stats = {\n  account_type: 'gmail',\n  email_address: '',\n  credential_name: '',\n  total_fetched: 0,\n  total_classified: 0,\n  total_errors: 0,\n  categories: {},\n  started_at: new Date().toISOString(),\n  completed_at: null,\n};\n\nconst categories = {};\nlet lastFetchCount = 0;\n\nfor (const item of items) {\n  const json = item.json;\n\n  // WF-0 response — successful classification includes final_category\n  if (json.final_category) {\n    stats.total_classified++;\n    const cat = json.final_category;\n    categories[cat] = (categories[cat] || 0) + 1;\n  } else if (json.message || json.error) {\n    // WF-0 returned an error\n    stats.total_errors++;\n  }\n\n  // Capture account info from first item\n  if (!stats.email_address && json.email_address) {\n    stats.email_address = json.email_address;\n  }\n  if (!stats.credential_name && json.credential_name) {\n    stats.credential_name = json.credential_name;\n  }\n\n  // Track fetch count from WF-0's payload echo\n  if (json.message_id) {\n    lastFetchCount++;\n  }\n}\n\nstats.total_fetched = items.length;\nstats.categories = categories;\nstats.completed_at = new Date().toISOString();\n\nreturn [{ json: stats }];"
      }
    }
  ],
  "connections": {
    "Webhook: Start Cleanup": {
      "main": [
        [
          {
            "node": "Gmail: Get Unlabeled Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Get Unlabeled Emails": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Build WF-0 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build WF-0 Payload": {
      "main": [
        [
          {
            "node": "POST to WF-0 Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to WF-0 Classifier": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "UTC",
    "saveExecutionProgress": true,
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}