exports/export-wfdf03924d1afc.json
{
  "updatedAt": "2026-06-23T17:30:09.494Z",
  "createdAt": "2026-06-23T03:39:40.316Z",
  "id": "wfdf03924d1afc",
  "name": "WF-3: Daily Spam Deletion",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567801",
      "name": "Schedule: 8:00 AM Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accounts config for daily spam deletion.\n// credential_name must match the N8N credential label exactly.\nreturn [\n  { json: { account_type: 'gmail', credential_name: 'Gmail - N8N_EMAIL_PLACEHOLDER', email_address: 'N8N_EMAIL_PLACEHOLDER' } }\n  // Outlook account placeholder - needs OAuth setup\n  // { json: { account_type: 'outlook', credential_name: 'Outlook - user@outlook.com', email_address: 'user@outlook.com' } }\n];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567802",
      "name": "Code: Accounts Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567803",
      "name": "Split: One Account At A Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "json",
        "rules": [
          {
            "conditions": {
              "conditions": [
                {
                  "leftValue": "={{ $json.account_type }}",
                  "rightValue": "gmail",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            }
          },
          {
            "conditions": {
              "conditions": [
                {
                  "leftValue": "={{ $json.account_type }}",
                  "rightValue": "outlook",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            }
          }
        ],
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567804",
      "name": "Switch: Account Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "5xWVtOFzlmnAKzwX",
        "options": {},
        "source": "database"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567805",
      "name": "Execute: Gmail Delete Spam",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "NtZxBrYsOZGHu7jX",
        "options": {},
        "source": "database"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567806",
      "name": "Execute: Outlook Delete Junk",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build summary report from all sub-workflow results.\n// Each sub-workflow returns: { deleted_count, account_type, credential_name, email, error }\n\nconst items = $input.all();\n\nconst results = items.map(item => {\n  const j = item.json;\n  return {\n    account_type: j.account_type,\n    credential_name: j.credential_name,\n    email: j.email,\n    deleted_count: j.deleted_count || 0,\n    error: j.error || null,\n  };\n});\n\nconst totalDeleted = results.reduce((sum, r) => sum + r.deleted_count, 0);\n\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    total_accounts: results.length,\n    total_deleted: totalDeleted,\n    accounts: results,\n  }\n}];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567807",
      "name": "Code: Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    }
  ],
  "connections": {
    "Code: Accounts Config": {
      "main": [
        [
          {
            "node": "Split: One Account At A Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split: One Account At A Time": {
      "main": [
        [
          {
            "node": "Switch: Account Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Account Type": {
      "main": [
        [
          {
            "node": "Execute: Gmail Delete Spam",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Outlook Delete Junk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Gmail Delete Spam": {
      "main": [
        [
          {
            "node": "Code: Summary Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Outlook Delete Junk": {
      "main": [
        [
          {
            "node": "Code: Summary Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule: 8:00 AM Daily": {
      "main": [
        [
          {
            "node": "Code: Accounts Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "America/Chicago",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule: 8:00 AM Daily": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "8814d03a-61e0-4515-88dc-f7a4ad70ca35",
  "activeVersionId": "8814d03a-61e0-4515-88dc-f7a4ad70ca35",
  "versionCounter": 4,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-23T03:39:40.317Z",
      "createdAt": "2026-06-23T03:39:40.317Z",
      "role": "workflow:owner",
      "workflowId": "wfdf03924d1afc",
      "projectId": "etm16Flsk2klju6J",
      "project": {
        "updatedAt": "2026-06-23T02:27:02.153Z",
        "createdAt": "2026-06-23T02:12:30.879Z",
        "id": "etm16Flsk2klju6J",
        "name": "Afsar Arif <N8N_EMAIL_PLACEHOLDER>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "237e94f6-c334-4919-b098-d884cb1bea04"
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-06-23T17:30:09.494Z",
    "createdAt": "2026-06-23T17:30:09.494Z",
    "versionId": "8814d03a-61e0-4515-88dc-f7a4ad70ca35",
    "workflowId": "wfdf03924d1afc",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * *"
              }
            ]
          }
        },
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567801",
        "name": "Schedule: 8:00 AM Daily",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "// Accounts config for daily spam deletion.\n// credential_name must match the N8N credential label exactly.\nreturn [\n  { json: { account_type: 'gmail', credential_name: 'Gmail - personal@gmail.com', email: 'personal@gmail.com' } },\n  { json: { account_type: 'gmail', credential_name: 'Gmail - work@gmail.com', email: 'work@gmail.com' } },\n  { json: { account_type: 'outlook', credential_name: 'Outlook - myname@hotmail.com', email: 'myname@hotmail.com' } },\n];"
        },
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567802",
        "name": "Code: Accounts Config",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567803",
        "name": "Split: One Account At A Time",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 1,
        "position": [
          650,
          300
        ]
      },
      {
        "parameters": {
          "dataType": "json",
          "rules": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.account_type }}",
                    "rightValue": "gmail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.account_type }}",
                    "rightValue": "outlook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ],
          "options": {}
        },
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567804",
        "name": "Switch: Account Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          850,
          300
        ]
      },
      {
        "parameters": {
          "workflowId": "WF3_GMAIL_SUB_PLACEHOLDER",
          "options": {}
        },
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567805",
        "name": "Execute: Gmail Delete Spam",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1050,
          200
        ]
      },
      {
        "parameters": {
          "workflowId": "WF3_OUTLOOK_SUB_PLACEHOLDER",
          "options": {}
        },
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567806",
        "name": "Execute: Outlook Delete Junk",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1050,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "// Build summary report from all sub-workflow results.\n// Each sub-workflow returns: { deleted_count, account_type, credential_name, email, error }\n\nconst items = $input.all();\n\nconst results = items.map(item => {\n  const j = item.json;\n  return {\n    account_type: j.account_type,\n    credential_name: j.credential_name,\n    email: j.email,\n    deleted_count: j.deleted_count || 0,\n    error: j.error || null,\n  };\n});\n\nconst totalDeleted = results.reduce((sum, r) => sum + r.deleted_count, 0);\n\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    total_accounts: results.length,\n    total_deleted: totalDeleted,\n    accounts: results,\n  }\n}];"
        },
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567807",
        "name": "Code: Summary Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1250,
          300
        ]
      }
    ],
    "connections": {
      "Schedule: 11:59 PM Daily": {
        "main": [
          [
            {
              "node": "Code: Accounts Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Accounts Config": {
        "main": [
          [
            {
              "node": "Split: One Account At A Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split: One Account At A Time": {
        "main": [
          [
            {
              "node": "Switch: Account Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch: Account Type": {
        "main": [
          [
            {
              "node": "Execute: Gmail Delete Spam",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute: Outlook Delete Junk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute: Gmail Delete Spam": {
        "main": [
          [
            {
              "node": "Code: Summary Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute: Outlook Delete Junk": {
        "main": [
          [
            {
              "node": "Code: Summary Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "manual",
    "name": "WF-3 Daily Spam Deletion",
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": []
  },
  "scopes": [
    "execution:reveal",
    "workflow:create",
    "workflow:delete",
    "workflow:disableRedaction",
    "workflow:enableRedaction",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:export",
    "workflow:import",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:unshare",
    "workflow:update"
  ],
  "checksum": "9e5fbb24fa9185d03f6d810ed5adf415aa7c9d1fd56c42d1aa0d7608c366cc08"
}