exports/export-Zreh7ckPNiNYpbju.json
{"updatedAt": "2026-06-24T06:33:38.671Z", "createdAt": "2026-06-24T06:15:26.418Z", "id": "Zreh7ckPNiNYpbju", "name": "WF-0: Shared Classification Sub-Workflow", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "classify-email-v2", "responseMode": "lastNode", "authentication": "none"}, "id": "a0000000-0000-4000-8000-000000000001", "name": "Webhook: POST /classify-email", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 300], "webhookId": "bd8c0000-1924-42a9-a707-28500b49a33d"}, {"parameters": {"jsCode": "// Sender Pre-Classifier \u2014 matches from address against known domain rules\nconst from = ($input.first().json.from || '').toLowerCase();\n\n// Domain classification rules (first-match wins)\nconst rules = [\n  {\n    domains: ['linkedin.com','twitter.com','x.com','facebook.com','instagram.com',\n              'reddit.com','github.com','discord.com','meetup.com','slack.com'],\n    category: 'social'\n  },\n  {\n    domains: ['indeed.com','glassdoor.com','levels.fyi','ziprecruiter.com','dice.com',\n              'hired.com','greenhouse.io','lever.co','workday.com','myworkdayjobs.com',\n              'wellfound.com','otta.com'],\n    category: 'career'\n  },\n  {\n    domains: ['amazon.com','apple.com','paypal.com','stripe.com','shopify.com',\n              'ebay.com','bestbuy.com','ups.com','fedex.com','usps.com'],\n    category: 'fyi'\n  },\n  {\n    domains: ['substack.com','beehiiv.com','convertkit.com','mailchimp.com',\n              'klaviyo.com','sendgrid.net','constantcontact.com'],\n    category: 'newsletter'\n  },\n];\n\n// Match sender domain\nfor (const rule of rules) {\n  if (rule.domains.some(d => from.includes(d))) {\n    return [{\n      json: {\n        ...$input.first().json,\n        fast_category: rule.category,\n        skip_ai: true\n      }\n    }];\n  }\n}\n\n// No match \u2014 let AI classify\nreturn [{\n  json: {\n    ...$input.first().json,\n    fast_category: null,\n    skip_ai: false\n  }\n}];"}, "id": "a0000000-0000-4000-8000-000000000002", "name": "Sender Pre-Classifier", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [260, 300]}, {"parameters": {"jsCode": "// HTML to Plain Text \u2014 strip HTML tags for the AI classifier\n// DeepSeek only needs the textual content, not markup.\nconst html = $input.first().json.body_html || $input.first().json.body_text || $input.first().json.snippet || '';\n\n// Simple HTML tag stripping (production-grade would use a real parser,\n// but this is sufficient for the classifier's ~300 char preview)\nconst cleaned = html\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\")\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    cleaned_body: cleaned\n  }\n}];"}, "id": "a0000000-0000-4000-8000-000000000005", "name": "HTML to Plain Text", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 500]}, {"parameters": {"prompt": "={{ \"You are an email classifier. Return valid JSON only. Classify into: newsletter, action, social, promotions, career, fyi, spam. Return {\\\"category\\\": \\\"category_name\\\"}.\\n\\nFrom: \" + ($json.from || \"unknown\") + \"\\nSubject: \" + ($json.subject || \"unknown\") + \"\\nBody: \" + (($json.cleaned_body || $json.body_text || $json.snippet || \"\").slice(0, 300)) }}"}, "id": "a0000000-0000-4000-8000-000000000006", "name": "DeepSeek: Basic LLM Chain", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1, "position": [1300, 500]}, {"parameters": {"model": "deepseek-chat", "options": {"temperature": 0, "maxTokens": 128, "topP": 1}}, "id": "a0000000-0000-4000-8000-000000000007", "name": "DeepSeek Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1, "position": [1040, 500], "credentials": {"openAiApi": {"id": "DEEPSEEK_CRED_ID_PLACEHOLDER", "name": "DeepSeek API"}}}, {"parameters": {"jsCode": "// Validate + normalize DeepSeek category output\n// The LLM Chain returns raw text \u2014 we extract the JSON and validate.\n\nconst validCategories = ['newsletter', 'action', 'social', 'promotions', 'career', 'fyi', 'spam'];\n\nlet rawText = '';\n\n// Try to extract the LLM response from various N8N AI node output shapes\nif ($input.first().json.text) {\n  rawText = $input.first().json.text;\n} else if ($input.first().json.output) {\n  rawText = $input.first().json.output;\n} else if ($input.first().json.response) {\n  rawText = $input.first().json.response;\n} else {\n  // Fallback: stringify entire JSON and try regex extraction\n  rawText = JSON.stringify($input.first().json);\n}\n\n// Attempt JSON parse\nlet category = '';\ntry {\n  // Handle markdown code fences sometimes added by models\n  const clean = rawText\n    .replace(/```json\\s*/gi, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n  const parsed = JSON.parse(clean);\n  category = (parsed.category || '').toString().trim().toLowerCase();\n} catch {\n  // Regex fallback for malformed output\n  const match = rawText.match(/\"category\"\\s*:\\s*\"([^\"]+)\"/i);\n  if (match && match[1]) {\n    category = match[1].trim().toLowerCase();\n  }\n}\n\n// Validate and fall back to 'fyi' if invalid\nconst finalCategory = validCategories.includes(category) ? category : 'fyi';\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    category: finalCategory\n  }\n}];"}, "id": "a0000000-0000-4000-8000-000000000008", "name": "Validate Category", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1560, 500]}, {"parameters": {"jsCode": "// Set: Normalize \u2014 ensure all required fields exist with defaults\nconst input = $input.first().json;\nreturn [{\n  json: {\n    ...input,\n    final_category: input.fast_category || input.category || 'fyi',\n    account_type: input.account_type || 'unknown',\n    message_id: input.message_id || input.id || '',\n    thread_id: input.thread_id || input.threadId || '',\n    credential_name: input.credential_name || '',\n    email_address: input.email_address || ''\n  }\n}];"}, "id": "a0000000-0000-4000-8000-000000000009", "name": "Set: Normalize", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1820, 500]}, {"parameters": {"jsCode": "// Webhook Response \u2014 return final classification summary (resilient)\nconst input = $input.first().json;\nreturn [{\n  json: {\n    success: !!input.final_category || !!input.category,\n    account_type: input.account_type || 'unknown',\n    email_address: input.email_address || '',\n    message_id: input.message_id || '',\n    final_category: input.final_category || input.category || 'unknown',\n    classified_at: new Date().toISOString()\n  }\n}];"}, "id": "a0000000-0000-4000-8000-000000000014", "name": "Webhook Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3640, 300]}, {"parameters": {"jsCode": "// Set: Dynamic Label \u2014 map category to Gmail label ID\nconst input = $input.first().json;\nconst labelMap = {\n  newsletter: 'Label_2',\n  action: 'Label_1',\n  social: 'Label_3',\n  promotions: 'Label_4',\n  career: 'Label_5',\n  fyi: 'Label_6',\n  spam: 'Label_7'\n};\nconst category = input.final_category || 'fyi';\nreturn [{\n  json: {\n    ...input,\n    label_id: labelMap[category] || 'Label_6',\n    should_archive: category === 'promotions'\n  }\n}];"}, "id": "set-dynamic-label", "name": "Set: Dynamic Label", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2080, 500]}, {"parameters": {"resource": "message", "operation": "addLabels", "messageId": "={{ $json.message_id }}", "labelIds": ["={{ $json.label_id }}"]}, "id": "gmail-add-label", "name": "Gmail: Add Dynamic Label", "type": "n8n-nodes-base.gmail", "typeVersion": 2, "position": [2340, 500], "credentials": {"gmailOAuth2": {"id": "GMAIL_CRED_ID_LOCAL_PLACEHOLDER", "name": "Gmail - N8N_EMAIL_PLACEHOLDER"}}, "webhookId": "07a6c43c-cbe0-435e-9857-27d72c767e4b", "continueOnFail": true}, {"parameters": {"resource": "message", "operation": "markAsRead", "messageId": "={{ $json.message_id }}"}, "id": "gmail-mark-read", "name": "Gmail: Mark as Read", "type": "n8n-nodes-base.gmail", "typeVersion": 2, "position": [2600, 500], "credentials": {"gmailOAuth2": {"id": "GMAIL_CRED_ID_LOCAL_PLACEHOLDER", "name": "Gmail - N8N_EMAIL_PLACEHOLDER"}}, "webhookId": "4a47c91c-5b34-46dd-a0ef-d3fd572626d3", "continueOnFail": true}], "connections": {"Webhook: POST /classify-email": {"main": [[{"node": "Sender Pre-Classifier", "type": "main", "index": 0}]]}, "Sender Pre-Classifier": {"main": [[{"node": "HTML to Plain Text", "type": "main", "index": 0}]]}, "HTML to Plain Text": {"main": [[{"node": "DeepSeek: Basic LLM Chain", "type": "main", "index": 0}]]}, "DeepSeek Chat Model": {"ai_languageModel": [[{"node": "DeepSeek: Basic LLM Chain", "type": "ai_languageModel", "index": 0}]]}, "DeepSeek: Basic LLM Chain": {"main": [[{"node": "Validate Category", "type": "main", "index": 0}]]}, "Validate Category": {"main": [[{"node": "Set: Normalize", "type": "main", "index": 0}]]}, "Set: Normalize": {"main": [[{"node": "Set: Dynamic Label", "type": "main", "index": 0}]]}, "Set: Dynamic Label": {"main": [[{"node": "Gmail: Add Dynamic Label", "type": "main", "index": 0}]]}, "Gmail: Add Dynamic Label": {"main": [[{"node": "Gmail: Mark as Read", "type": "main", "index": 0}]]}, "Gmail: Mark as Read": {"main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner"}, "staticData": null, "meta": null, "nodeGroups": [], "pinData": {}, "versionId": "cebe7843-9653-4243-90cb-0b362ece7670", "activeVersionId": "cebe7843-9653-4243-90cb-0b362ece7670", "versionCounter": 6, "triggerCount": 1, "sourceWorkflowId": null, "shared": [{"updatedAt": "2026-06-24T06:15:26.419Z", "createdAt": "2026-06-24T06:15:26.419Z", "role": "workflow:owner", "workflowId": "Zreh7ckPNiNYpbju", "projectId": "etm16Flsk2klju6J", "project": {"updatedAt": "2026-06-23T02:27:02.153Z", "createdAt": "2026-06-23T02:12:30.879Z", "id": "etm16Flsk2klju6J", "name": "Afsar Arif <N8N_EMAIL_PLACEHOLDER>", "type": "personal", "icon": null, "description": null, "customTelemetryTags": [], "creatorId": "237e94f6-c334-4919-b098-d884cb1bea04"}}], "tags": [], "parentFolder": null, "activeVersion": {"updatedAt": "2026-06-24T06:33:38.671Z", "createdAt": "2026-06-24T06:33:38.671Z", "versionId": "cebe7843-9653-4243-90cb-0b362ece7670", "workflowId": "Zreh7ckPNiNYpbju", "nodes": [{"parameters": {"httpMethod": "POST", "path": "classify-email-v2", "responseMode": "lastNode", "authentication": "none"}, "id": "a0000000-0000-4000-8000-000000000001", "name": "Webhook: POST /classify-email", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 300], "webhookId": "bd8c0000-1924-42a9-a707-28500b49a33d"}, {"parameters": {"jsCode": "// Sender Pre-Classifier \u2014 matches from address against known domain rules\nconst from = ($input.first().json.from || '').toLowerCase();\n\n// Domain classification rules (first-match wins)\nconst rules = [\n  {\n    domains: ['linkedin.com','twitter.com','x.com','facebook.com','instagram.com',\n              'reddit.com','github.com','discord.com','meetup.com','slack.com'],\n    category: 'social'\n  },\n  {\n    domains: ['indeed.com','glassdoor.com','levels.fyi','ziprecruiter.com','dice.com',\n              'hired.com','greenhouse.io','lever.co','workday.com','myworkdayjobs.com',\n              'wellfound.com','otta.com'],\n    category: 'career'\n  },\n  {\n    domains: ['amazon.com','apple.com','paypal.com','stripe.com','shopify.com',\n              'ebay.com','bestbuy.com','ups.com','fedex.com','usps.com'],\n    category: 'fyi'\n  },\n  {\n    domains: ['substack.com','beehiiv.com','convertkit.com','mailchimp.com',\n              'klaviyo.com','sendgrid.net','constantcontact.com'],\n    category: 'newsletter'\n  },\n];\n\n// Match sender domain\nfor (const rule of rules) {\n  if (rule.domains.some(d => from.includes(d))) {\n    return [{\n      json: {\n        ...$input.first().json,\n        fast_category: rule.category,\n        skip_ai: true\n      }\n    }];\n  }\n}\n\n// No match \u2014 let AI classify\nreturn [{\n  json: {\n    ...$input.first().json,\n    fast_category: null,\n    skip_ai: false\n  }\n}];"}, "id": "a0000000-0000-4000-8000-000000000002", "name": "Sender Pre-Classifier", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [260, 300]}, {"parameters": {"jsCode": "// HTML to Plain Text \u2014 strip HTML tags for the AI classifier\n// DeepSeek only needs the textual content, not markup.\nconst html = $input.first().json.body_html || $input.first().json.body_text || $input.first().json.snippet || '';\n\n// Simple HTML tag stripping (production-grade would use a real parser,\n// but this is sufficient for the classifier's ~300 char preview)\nconst cleaned = html\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\")\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    cleaned_body: cleaned\n  }\n}];"}, "id": "a0000000-0000-4000-8000-000000000005", "name": "HTML to Plain Text", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 500]}, {"parameters": {"prompt": "={{ \"You are an email classifier. Return valid JSON only. Classify into: newsletter, action, social, promotions, career, fyi, spam. Return {\\\"category\\\": \\\"category_name\\\"}.\\n\\nFrom: \" + ($json.from || \"unknown\") + \"\\nSubject: \" + ($json.subject || \"unknown\") + \"\\nBody: \" + (($json.cleaned_body || $json.body_text || $json.snippet || \"\").slice(0, 300)) }}"}, "id": "a0000000-0000-4000-8000-000000000006", "name": "DeepSeek: Basic LLM Chain", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1, "position": [1300, 500]}, {"parameters": {"model": "deepseek-chat", "options": {"temperature": 0, "maxTokens": 128, "topP": 1}}, "id": "a0000000-0000-4000-8000-000000000007", "name": "DeepSeek Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1, "position": [1040, 500], "credentials": {"openAiApi": {"id": "DEEPSEEK_CRED_ID_PLACEHOLDER", "name": "DeepSeek API"}}}, {"parameters": {"jsCode": "// Validate + normalize DeepSeek category output\n// The LLM Chain returns raw text \u2014 we extract the JSON and validate.\n\nconst validCategories = ['newsletter', 'action', 'social', 'promotions', 'career', 'fyi', 'spam'];\n\nlet rawText = '';\n\n// Try to extract the LLM response from various N8N AI node output shapes\nif ($input.first().json.text) {\n  rawText = $input.first().json.text;\n} else if ($input.first().json.output) {\n  rawText = $input.first().json.output;\n} else if ($input.first().json.response) {\n  rawText = $input.first().json.response;\n} else {\n  // Fallback: stringify entire JSON and try regex extraction\n  rawText = JSON.stringify($input.first().json);\n}\n\n// Attempt JSON parse\nlet category = '';\ntry {\n  // Handle markdown code fences sometimes added by models\n  const clean = rawText\n    .replace(/```json\\s*/gi, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n  const parsed = JSON.parse(clean);\n  category = (parsed.category || '').toString().trim().toLowerCase();\n} catch {\n  // Regex fallback for malformed output\n  const match = rawText.match(/\"category\"\\s*:\\s*\"([^\"]+)\"/i);\n  if (match && match[1]) {\n    category = match[1].trim().toLowerCase();\n  }\n}\n\n// Validate and fall back to 'fyi' if invalid\nconst finalCategory = validCategories.includes(category) ? category : 'fyi';\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    category: finalCategory\n  }\n}];"}, "id": "a0000000-0000-4000-8000-000000000008", "name": "Validate Category", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1560, 500]}, {"parameters": {"jsCode": "// Set: Normalize \u2014 ensure all required fields exist with defaults\nconst input = $input.first().json;\nreturn [{\n  json: {\n    ...input,\n    final_category: input.fast_category || input.category || 'fyi',\n    account_type: input.account_type || 'unknown',\n    message_id: input.message_id || input.id || '',\n    thread_id: input.thread_id || input.threadId || '',\n    credential_name: input.credential_name || '',\n    email_address: input.email_address || ''\n  }\n}];"}, "id": "a0000000-0000-4000-8000-000000000009", "name": "Set: Normalize", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1820, 500]}, {"parameters": {"jsCode": "// Webhook Response \u2014 return final classification summary (resilient)\nconst input = $input.first().json;\nreturn [{\n  json: {\n    success: !!input.final_category || !!input.category,\n    account_type: input.account_type || 'unknown',\n    email_address: input.email_address || '',\n    message_id: input.message_id || '',\n    final_category: input.final_category || input.category || 'unknown',\n    classified_at: new Date().toISOString()\n  }\n}];"}, "id": "a0000000-0000-4000-8000-000000000014", "name": "Webhook Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3640, 300]}, {"parameters": {"jsCode": "// Set: Dynamic Label \u2014 map category to Gmail label ID\nconst input = $input.first().json;\nconst labelMap = {\n  newsletter: 'Label_2',\n  action: 'Label_1',\n  social: 'Label_3',\n  promotions: 'Label_4',\n  career: 'Label_5',\n  fyi: 'Label_6',\n  spam: 'Label_7'\n};\nconst category = input.final_category || 'fyi';\nreturn [{\n  json: {\n    ...input,\n    label_id: labelMap[category] || 'Label_6',\n    should_archive: category === 'promotions'\n  }\n}];"}, "id": "set-dynamic-label", "name": "Set: Dynamic Label", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2080, 500]}, {"parameters": {"resource": "message", "operation": "addLabels", "messageId": "={{ $json.message_id }}", "labelIds": ["={{ $json.label_id }}"]}, "id": "gmail-add-label", "name": "Gmail: Add Dynamic Label", "type": "n8n-nodes-base.gmail", "typeVersion": 2, "position": [2340, 500], "credentials": {"gmailOAuth2": {"id": "GMAIL_CRED_ID_LOCAL_PLACEHOLDER", "name": "Gmail - N8N_EMAIL_PLACEHOLDER"}}, "webhookId": "07a6c43c-cbe0-435e-9857-27d72c767e4b", "continueOnFail": true}, {"parameters": {"resource": "message", "operation": "markAsRead", "messageId": "={{ $json.message_id }}"}, "id": "gmail-mark-read", "name": "Gmail: Mark as Read", "type": "n8n-nodes-base.gmail", "typeVersion": 2, "position": [2600, 500], "credentials": {"gmailOAuth2": {"id": "GMAIL_CRED_ID_LOCAL_PLACEHOLDER", "name": "Gmail - N8N_EMAIL_PLACEHOLDER"}}, "webhookId": "4a47c91c-5b34-46dd-a0ef-d3fd572626d3", "continueOnFail": true}], "connections": {"Webhook: POST /classify-email": {"main": [[{"node": "Sender Pre-Classifier", "type": "main", "index": 0}]]}, "Sender Pre-Classifier": {"main": [[{"node": "HTML to Plain Text", "type": "main", "index": 0}]]}, "HTML to Plain Text": {"main": [[{"node": "DeepSeek: Basic LLM Chain", "type": "main", "index": 0}]]}, "DeepSeek Chat Model": {"ai_languageModel": [[{"node": "DeepSeek: Basic LLM Chain", "type": "ai_languageModel", "index": 0}]]}, "DeepSeek: Basic LLM Chain": {"main": [[{"node": "Validate Category", "type": "main", "index": 0}]]}, "Validate Category": {"main": [[{"node": "Set: Normalize", "type": "main", "index": 0}]]}, "Set: Normalize": {"main": [[{"node": "Set: Dynamic Label", "type": "main", "index": 0}]]}, "Set: Dynamic Label": {"main": [[{"node": "Gmail: Add Dynamic Label", "type": "main", "index": 0}]]}, "Gmail: Add Dynamic Label": {"main": [[{"node": "Gmail: Mark as Read", "type": "main", "index": 0}]]}, "Gmail: Mark as Read": {"main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]}}, "nodeGroups": [], "authors": "Afsar Arif", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-06-24T06:33:38.746Z", "id": 79, "workflowId": "Zreh7ckPNiNYpbju", "versionId": "cebe7843-9653-4243-90cb-0b362ece7670", "event": "activated", "userId": "237e94f6-c334-4919-b098-d884cb1bea04"}]}, "scopes": ["execution:reveal", "workflow:create", "workflow:delete", "workflow:disableRedaction", "workflow:enableRedaction", "workflow:execute", "workflow:execute-chat", "workflow:export", "workflow:import", "workflow:list", "workflow:move", "workflow:publish", "workflow:read", "workflow:share", "workflow:unpublish", "workflow:unshare", "workflow:update"], "checksum": "f97d57d6d0a2014238643224b476b384b5c24a05daa7e8db25a39df8c9aa6aac"}
