exports/export-wf53e3ea8abf28.json
{"updatedAt": "2026-06-24T07:07:47.496Z", "createdAt": "2026-06-23T03:39:40.312Z", "id": "wf53e3ea8abf28", "name": "WF-1: Gmail Trigger (N8N_USER_PLACEHOLDER)", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"authentication": "oAuth2", "pollTimes": {"item": [{"mode": "everyMinute"}]}, "options": {}, "query": "-label:AI/Newsletter -label:AI/Action-Required -label:AI/Social -label:AI/Promotions -label:AI/Career -label:AI/FYI -label:AI/Spam", "simple": false}, "id": "gmail-trigger-001", "name": "Gmail Trigger", "type": "n8n-nodes-base.gmailTrigger", "typeVersion": 2, "position": [250, 300], "credentials": {"gmailOAuth2": {"id": "GMAIL_CRED_ID_LOCAL_PLACEHOLDER", "name": "Gmail - N8N_EMAIL_PLACEHOLDER"}}}, {"parameters": {"jsCode": "// Dedup Guard: skip if any AI/* label already exists\n// Works with both simplified (labelIds) and raw parse (labelIds + labels[]) output\nconst labelIds = $input.first().json.labelIds || [];\nconst alreadyLabeled = labelIds.some(l => {\n  const s = String(l);\n  return s.startsWith('AI/') || s.startsWith('Label_');\n});\n\n// If not already labeled, proceed; otherwise stop\nreturn [{\n  json: {\n    ...$input.first().json,\n    proceed: !alreadyLabeled\n  }\n}];"}, "id": "code-dedup-002", "name": "Dedup Guard", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 300]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-proceed", "leftValue": "={{ $json.proceed }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}}, "id": "if-dedup-003", "name": "Proceed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [750, 300]}, {"parameters": {"values": {"string": [{"name": "account_type", "value": "gmail"}, {"name": "credential_name", "value": "Gmail - N8N_EMAIL_PLACEHOLDER"}, {"name": "email_address", "value": "N8N_EMAIL_PLACEHOLDER"}, {"name": "message_id", "value": "={{ $json.id || $json.message_id }}"}, {"name": "thread_id", "value": "={{ $json.threadId }}"}, {"name": "subject", "value": "={{ $json.subject }}"}, {"name": "from", "value": "={{ $json.from.text || $json.from || \"\" }}"}, {"name": "body_html", "value": "={{ $json.html || $json.textHtml || $json.body_html || \"\" }}"}, {"name": "body_text", "value": "={{ $json.text || $json.body_text || $json.body || \"\" }}"}, {"name": "snippet", "value": "={{ $json.snippet }}"}]}, "options": {"dotNotation": true}}, "id": "set-payload-004", "name": "Build WF-0 Payload", "type": "n8n-nodes-base.set", "typeVersion": 3.3, "position": [1000, 300]}, {"parameters": {"method": "POST", "url": "http://localhost:5678/webhook/classify-email-v2", "authentication": "none", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "token", "value": "WEBHOOK_TOKEN_PLACEHOLDER"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json }}", "options": {"timeout": 10000, "response": {"response": {"responseFormat": "string"}}}}, "id": "http-call-wf0-005", "name": "Call WF-0 Classifier", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1250, 300]}], "connections": {"Gmail Trigger": {"main": [[{"node": "Dedup Guard", "type": "main", "index": 0}]]}, "Dedup Guard": {"main": [[{"node": "Proceed?", "type": "main", "index": 0}]]}, "Proceed?": {"main": [[{"node": "Build WF-0 Payload", "type": "main", "index": 0}], []]}, "Build WF-0 Payload": {"main": [[{"node": "Call WF-0 Classifier", "type": "main", "index": 0}]]}, "Call WF-0 Classifier": {"main": [[]]}}, "settings": {"callerPolicy": "workflowsFromSameOwner", "executionOrder": "v1", "saveExecutionProgress": false, "saveManualExecutions": false, "timezone": "UTC"}, "staticData": {"node:Gmail Trigger": {"Gmail Trigger": {"lastTimeChecked": 1782283591, "pendingMessageIds": [], "possibleDuplicates": ["19ef86165f8efe18"]}}}, "meta": null, "nodeGroups": [], "pinData": null, "versionId": "b61562a7-c38c-4978-adcd-5c693f7a2c2d", "activeVersionId": "9131c093-3629-439a-bc53-6bf04b163e39", "versionCounter": 18, "triggerCount": 1, "sourceWorkflowId": null, "shared": [{"updatedAt": "2026-06-23T03:39:40.312Z", "createdAt": "2026-06-23T03:39:40.312Z", "role": "workflow:owner", "workflowId": "wf53e3ea8abf28", "projectId": "etm16Flsk2klju6J", "project": {"updatedAt": "2026-06-23T02:27:02.153Z", "createdAt": "2026-06-23T02:12:30.879Z", "id": "etm16Flsk2klju6J", "name": "Afsar Arif <N8N_EMAIL_PLACEHOLDER>", "type": "personal", "icon": null, "description": null, "customTelemetryTags": [], "creatorId": "237e94f6-c334-4919-b098-d884cb1bea04"}}], "tags": [{"updatedAt": "2026-06-22T00:00:00.000Z", "createdAt": "2026-06-22T00:00:00.000Z", "id": "6dVjnLGLDh7PSfM3", "name": "production"}, {"updatedAt": "2026-06-22T00:00:00.000Z", "createdAt": "2026-06-22T00:00:00.000Z", "id": "Dm227JEYqcfYQYTz", "name": "gmail"}, {"updatedAt": "2026-06-22T00:00:00.000Z", "createdAt": "2026-06-22T00:00:00.000Z", "id": "km3EyG5oZsq4D181", "name": "trigger"}, {"updatedAt": "2026-06-22T00:00:00.000Z", "createdAt": "2026-06-22T00:00:00.000Z", "id": "sgr2y5h9hPtPYBVi", "name": "email"}], "parentFolder": null, "activeVersion": {"updatedAt": "2026-06-23T18:37:59.000Z", "createdAt": "2026-06-23T18:37:59.000Z", "versionId": "9131c093-3629-439a-bc53-6bf04b163e39", "workflowId": "wf53e3ea8abf28", "nodes": [{"parameters": {"authentication": "oAuth2", "pollTimes": {"item": [{"mode": "everyMinute"}]}, "options": {}, "query": "-label:AI/Newsletter -label:AI/Action-Required -label:AI/Social -label:AI/Promotions -label:AI/Career -label:AI/FYI -label:AI/Spam", "simple": false}, "id": "gmail-trigger-001", "name": "Gmail Trigger", "type": "n8n-nodes-base.gmailTrigger", "typeVersion": 2, "position": [250, 300], "credentials": {"gmailOAuth2": {"id": "GMAIL_CRED_ID_LOCAL_PLACEHOLDER", "name": "Gmail - N8N_EMAIL_PLACEHOLDER"}}}, {"parameters": {"jsCode": "// Dedup Guard: skip if any AI/* label already exists\n// Works with both simplified (labelIds) and raw parse (labelIds + labels[]) output\nconst labelIds = $input.first().json.labelIds || [];\nconst alreadyLabeled = labelIds.some(l => {\n  const s = String(l);\n  return s.startsWith('AI/') || s.startsWith('Label_');\n});\n\n// If not already labeled, proceed; otherwise stop\nreturn [{\n  json: {\n    ...$input.first().json,\n    proceed: !alreadyLabeled\n  }\n}];"}, "id": "code-dedup-002", "name": "Dedup Guard", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 300]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-proceed", "leftValue": "={{ $json.proceed }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}}, "id": "if-dedup-003", "name": "Proceed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [750, 300]}, {"parameters": {"values": {"string": [{"name": "account_type", "value": "gmail"}, {"name": "credential_name", "value": "Gmail - N8N_EMAIL_PLACEHOLDER"}, {"name": "email_address", "value": "N8N_EMAIL_PLACEHOLDER"}, {"name": "message_id", "value": "={{ $json.id || $json.message_id }}"}, {"name": "thread_id", "value": "={{ $json.threadId }}"}, {"name": "subject", "value": "={{ $json.subject }}"}, {"name": "from", "value": "={{ $json.from.text || $json.from || \"\" }}"}, {"name": "body_html", "value": "={{ $json.html || $json.textHtml || $json.body_html || \"\" }}"}, {"name": "body_text", "value": "={{ $json.text || $json.body_text || $json.body || \"\" }}"}, {"name": "snippet", "value": "={{ $json.snippet }}"}]}, "options": {"dotNotation": true}}, "id": "set-payload-004", "name": "Build WF-0 Payload", "type": "n8n-nodes-base.set", "typeVersion": 3.3, "position": [1000, 300]}, {"parameters": {"method": "POST", "url": "http://localhost:5678/webhook/classify-email", "authentication": "none", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "token", "value": "WEBHOOK_TOKEN_PLACEHOLDER"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json }}", "options": {"timeout": 10000, "response": {"response": {"responseFormat": "string"}}}}, "id": "http-call-wf0-005", "name": "Call WF-0 Classifier", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1250, 300]}], "connections": {"Gmail Trigger": {"main": [[{"node": "Dedup Guard", "type": "main", "index": 0}]]}, "Dedup Guard": {"main": [[{"node": "Proceed?", "type": "main", "index": 0}]]}, "Proceed?": {"main": [[{"node": "Build WF-0 Payload", "type": "main", "index": 0}], []]}, "Build WF-0 Payload": {"main": [[{"node": "Call WF-0 Classifier", "type": "main", "index": 0}]]}, "Call WF-0 Classifier": {"main": [[]]}}, "nodeGroups": [], "authors": "system", "name": "WF-1: Gmail Trigger (N8N_USER_PLACEHOLDER)", "description": null, "autosaved": false, "workflowPublishHistory": []}, "scopes": ["execution:reveal", "workflow:create", "workflow:delete", "workflow:disableRedaction", "workflow:enableRedaction", "workflow:execute", "workflow:execute-chat", "workflow:export", "workflow:import", "workflow:list", "workflow:move", "workflow:publish", "workflow:read", "workflow:share", "workflow:unpublish", "workflow:unshare", "workflow:update"], "checksum": "3c3bb0c962d6358462c733137d96f3dd08d1de35d3d192966d4d6d1662dfe3a7"}
